.navigation {
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(180, 100%, 35%);
    margin-bottom: 0;
}

.navigation__item {
    margin: 10px 0;
}

.navigation__link {
    color: hsl(180, 100%, 35%);
    text-decoration: none;
}

.navigation__link:hover {
    color: hsl(180, 100%, 45%)
}

.navigation__link:active {
    color: hsl(180, 100%, 55%);
}
